
.icon {
  width: 50px;
}

.container-icons {
  padding-left: 40px;
  padding-right: 40px;
  @media (min-width: $media-tablet) {
    padding-left: 200px;
    padding-right: 200px;
  }
  @media (min-width: $media-desktop) {
    padding-left: 300px;
    padding-right: 300px;
  }
}

.list-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
