
.container-editor {
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
}

.tittle-editor {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0;
}

.container-inputs {
  @media (min-width: $media-tablet) {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
  }
  @media (min-width: $media-desktop) {
    width: 60%;
  }
}

.container-date {
  position: relative;
  box-shadow: 3px 3px #868683;
  margin: 15px 0 50px 0;
}

.date {
  background-color: rgba(189, 189, 184, 0.2);
  padding: 10px;
}

.icon-calendar {
  position: absolute;
  top: 6px;
  right: 20px;
}

.input-radio {
  margin-top: 25px;
}

.label-radio {
  margin-right: 25px;
}

.container-buttons {
  padding-top: 40px;
  @media (min-width: $media-tablet) {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
  }
  @media (min-width: $media-desktop) {
    width: 60%;
  }
}
