
body {
  margin: 0;
  box-sizing: border-box;
  font-family: $typo-primary;
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  color: $color-dark;
}


input:focus{
    outline: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

input, a, button, label {
  cursor: pointer;
}
