
$typo-primary: 'Handlee', cursive;

$color-primary: #009ecc;
$color-secondary: #ffa64d;
$color-light: #ffffff;
$color-midtone: #bdbdb8;
$color-dark: #131212;

$media-tablet: 768px;
$media-desktop: 1000px;
