body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Handlee", cursive;
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  color: #131212; }

input:focus {
  outline: none; }

ul {
  list-style-type: none;
  padding-left: 0; }

a {
  text-decoration: none; }

.tittle-editor {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0; }

.container-editor {
  padding: 50px 40px 0 40px; }

.date {
  margin: 15px 0 40px 0;
  background-color: rgba(189, 189, 184, 0.2);
  padding: 10px; }

.icon-calendar {
  position: absolute;
  top: 6px;
  right: 20px; }

.container-date {
  position: relative;
  box-shadow: 3px 3px #868683; }

.input-radio {
  margin-top: 25px; }

.label-radio {
  margin-right: 25px; }

.button {
  font-size: inherit;
  font-family: inherit;
  border-radius: 5px;
  letter-spacing: 0.5px;
  width: 100%;
  cursor: pointer; }

.button-save {
  background-color: #009ecc;
  color: #ffffff;
  border: 1px solid #009ecc;
  padding: 3px 0;
  margin-top: 40px; }

.button-cancel {
  background-color: #ffffff;
  color: #009ecc;
  border: 1px solid #009ecc;
  text-align: center;
  display: inline-block;
  padding: 6px 0;
  margin-top: 20px; }
